.jumbotron {
 background-image: url('../../assets/images/newspaper.jpg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 color: white;
 text-shadow: black 10px 10px 10px;
 text-align: center;
 height: 80vh;
}
#head {
 font-size: 100px;
 font-weight: bold;
}
#details {
 font-size: 60px;
 font-weight: 500;
}