ul {
 list-style: none;
}
li {
 text-decoration: none;
 box-shadow: 10px 5px 5px 1px black;
 width: 95%;
}
h2 {
 background-color: blue;
 color: white;
 width: 100%;
 line-height: 200%;
 font-size: 36px;
 padding: 10px;
}
p {
 padding: 20px;
 font-size: 20px;
}
button {
 float: right;
 margin-right: 50px;
 margin-top: 20px;
}

#noArticle {
 background-color: orange;
 text-align: center;
 line-height: 300%;
 width: 90%;
 font-size: 24px;
 margin: 0 auto;
 margin-bottom: 20px;
 box-shadow: 10px 5px 5px 1px black;
}